@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .hide-scrollbar {
    /* Firefox */
    scrollbar-width: none;
    /* IE 10+ / Edge */
    -ms-overflow-style: none;
  }
  /* WebKit browsers */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  /* fonts */
  --font-serif: 'Funnel Display', 'serif';
  --font-sans: 'Funnel Sans', 'sans-serif';

  --color-black: oklch(0.14 0 0);
  --color-white: oklch(0.99 0 0);

  --color-white-text-secondary: oklch(0.74 0 0);

  --color-black-secondary: oklch(0.16 0 0);
  --color-white-secondary: oklch(0.96 0 0);

  --shadow-ours:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);

  /* THIS IS REFERENCE PLEASE DONT USE */
  /* colors that are same on DM and LM */
  --color-text-primary-black: oklch(0.14 0 0);
  --color-text-primary-white: oklch(0.99 0 0);
  --color-text-secondary-white: oklch(0.74 0 0);

  /* colors for DM */
  --color-color-dm-primary: oklch(0.99 0 0);
  /*--color-dm-secondary: oklch(0.45 0.313214 264.052);*/

  --color-text-dm-primary: oklch(0.99 0 0);
  --color-text-dm-primary-inverted: oklch(0.14 0 0);
  --color-text-dm-secondary: oklch(0.8 0 0);

  --color-bg-dm-primary: oklch(0.14 0 0);
  --color-bg-dm-primary-inverted: oklch(0.99 0 0);
  --color-bg-dm-secondary: oklch(0.16 0 0);

  /* colors for LM */
  --color-color-lm-primary: oklch(0.14 0 0);
  /*--color-lm-secondary: oklch(0.45 0.313214 264.052);*/

  --color-text-lm-primary: oklch(0.14 0 0);
  --color-text-lm-primary-inverted: oklch(0.99 0 0);
  --color-text-lm-secondary: oklch(0.37 0 0);

  --color-bg-lm-primary: oklch(0.99 0 0);
  --color-bg-lm-primary-inverted: oklch(0.14 0 0);
  --color-bg-lm-secondary: oklch(0.96 0 0);

  /* accent colors */
  --color-accent-blue: oklch(0.49 0.2432 264.4);
  --color-accent-purple: oklch(0.5 0.2634 301.68);
  --color-accent-orange: oklch(0.67 0.1685 53.38);
  --color-accent-green: oklch(0.53 0.149485 148.9899);
  --color-accent-red: oklch(0.44 0.1774 26.79);
  --color-accent-pink: oklch(0.53 0.2137 4.81);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.99 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.14 0 0);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ProseMirror {
  outline: none !important;
  border: none !important;
  padding: 0 !important;
  min-height: 150px; /* still needed so it's not tiny */
  background: transparent !important;
  box-shadow: none !important;
}
